
.DS_Store
.ipynb_checkpoints/Freestyle-checkpoint.ipynb
.ipynb_checkpoints/Preparation_of_data-checkpoint.ipynb
.ipynb_checkpoints/Data exploration-checkpoint.ipynb
.ipynb_checkpoints/Final-checkpoint.ipynb
